/VehicleDecorator.class
/IVisitable.class
/IVisitor.class
/INeedsRefueling.class
/IBeenRefueld.class
/IRefueler.class
/IBeenRefueled.class
/temp.class
/IVehicle.class
/LightsDecorator.class
/ColorDecorator.class
/RedDecorator.class
/LightsOnDecorator.class
/LightsOfDecorator.class
/RedColorDecorator.class
/GreenColorDecorator.class
/SilverColorDecorator.class
/WhiteColorDecorator.class
